/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	font-family: 'Nobile',Helvetica,arial, sans-serif;
}

input{
	font-family: sans-serif;
}

header{
	height: 1.5em;
	background: url(images/header.png);
	background-size: cover;

}
footer{
	height: 1.5em;
	background: url(images/footer.png);
	background-size: cover;
	position: relative;
	clear: both;
}


#info_container{
	padding-left: 1em;
	width: 75%;
	height: auto;
	margin-left: 11%;
	padding-bottom: 3em;
	background-image:url(images/body_background.png);
	background-size: cover;
	line-height: 2em;


-webkit-box-shadow: 0px 0px 10px 3px gray;
-moz-box-shadow: 0px 0px 10px 3px gray;
box-shadow: 0px 0px 10px 3px gray;
}

h2{
	font-size: 3em;
	padding-top: 1em;
	margin-bottom: 5%;
	margin-left: 2%;
	
}

h3{
	font-size: 1.2em;
	
}

h6{
	font-size: 0.8em;
}

.left input{
	width: 90%;
	height: 2em;
	border-radius:3px;
	border: none;
	border:solid black 1.5px;
	font-size: 18px;
}




@media (min-width: 880px){
h3{
	font-size: 1.5em;
	
}

h6{
	font-size: 0.9em;
}

.left{
	width: auto;
	height: auto;
	display: block;
	float: left;
	margin-left: 3%;
}

.right{
	display: block;
	margin-top: 2em;
	overflow: hidden;
	margin-left: 50%;
}

}

textarea{
	width: 90%;
	font-size: 1.5em;

}

input[type=submit].btn {
	background-color: #3399ff;
	border:none;
	border-radius: 3px;
	color: white;
	font-size:1.1em;
	padding: 10px;
	margin-top: 4%;
	display: block;
	width: 90%;
	height: auto;
-webkit-appearance: none;
}


